bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
secrets.json
/.idea/.idea.GassiMeter/.idea/encodings.xml
/GassiMeter.sln.DotSettings.user
/.idea/.idea.GassiMeter/.idea/indexLayout.xml
/.idea/.idea.GassiMeter/.idea/vcs.xml
